extends ../layout.pug

block prepend styles
  link(rel='stylesheet' href='//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css')

block content
  div(class='breadcrumb')
    li= title
  form(id='ship-add-form' name='ship-add-form' class='form-inline' action='')

    div(class='form-group')
      div(class='col-md-3')
        label(for='name') Number
      div(class='col-md-9')
        input(id='number' name='number' value='' class='form-control')

    div(class='form-group')
      div(class='col-md-3')
        label(for='name') Country
      div(class='col-md-9')
        input(id='country' name='country' value='' class='form-control')        

    div(class='form-group')
      div(class='col-md-3')
        label(for='name') Number
      div(class='col-md-9')
        input(id='name' name='name' value='' class='form-control')        

    div(class='form-group')
      div(class='col-md-3')
        label(for='name') Tannage
      div(class='col-md-9')
        input(id='tannage' name='tannage' value='' class='form-control')        

    div(class='form-group')
      div(class='col-md-12')
        button(type='submit' class='btn btn-primary') Create


  form(id='ship-update-form' name='ship-update-form' class='form-inline' action='')      
    div(class='form-group')
      div(class='col-md-12')
        button(type='submit' class='btn btn-secondary') Update

    div.list-wrapper
      table(id='ship-list')
block append scripts
  script(src='/static/js/models/ship.js')
  script(src='//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js')
  script(src='/static/js/views/ship.js')